@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Work+Sans:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #fffffe;
}

form {
    display: flex;
    flex-direction: column;
    background: #0f0e17;
    width: 400px;
    height: 400px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(71, 3, 6, 0.7);
}

form .title {
    color: #f25f4c;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

form label {
    margin-bottom: 35px;
}

form label .fa-solid {
    font-size: 20px;
    color: #fffffe;
    margin-right: 10px;
}

form label input {
    outline: none;
    border: none;
    color: #fffffe;
    border-bottom: solid 1px #fffffe;
    background: none;
    padding: 0 15px;
    font-size: 18px;
    margin: 10px;
}

form label input::placeholder {
    color: rgb(248, 232, 232);
}

form .link {
    color: #fffffe;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 12px;
}

form .btn {
    color: #0f0e17;
    border-radius: 50px;
    background: #fffffe;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}

@media(max-width: 405px) {
    form {
        margin: 20px;
    }
}